.grid-content__history:not(:last-child),
.grid-content__block-container:not(:last-child),
.grid-content__explicit-grid:not(:last-child),
.grid-content__implicit-grid:not(:last-child),
.grid-content__grid-alignment:not(:last-child),
.grid-content__content-alignment:not(:last-child),
.grid-content__tamplate-areas:not(:last-child),
.grid-content__elements:not(:last-child) {
   margin: 0px 0px 35px 0px;
}

.history__title,
.layout__title,
.container-block__title,
.elements-grid__title {
   margin: 0px 0px 25px 0px;
}

.container-block__subtitle:not(:last-child),
.grid-explicit__subtitle:not(:last-child),
.grid-explicit__subtitle:not(:last-child),
.grid-implicit__subtitle:not(:last-child),
.alignment-grid__subtitle:not(:last-child),
.alignment-content__subtitle:not(:last-child),
.areas-tamplate__subtitle:not(:last-child),
.elements-grid__subtitle:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.grid-explicit__layout:not(:last-child),
.container-block__layout:not(:last-child),
.grid-implicit__layout:not(:last-child),
.alignment-grid__layout:not(:last-child),
.alignment-content__layout:not(:last-child),
.areas-tamplate__layout:not(:last-child),
.elements-grid__layout:not(:last-child) {
   margin: 0px 0px 25px 0px;
}

.container-block__text:not(:last-child),
.grid-explicit__text:not(:last-child),
.grid-implicit__text:not(:last-child),
.alignment-grid__text:not(:last-child),
.alignment-content__text:not(:last-child),
.areas-tamplate__text:not(:last-child),
.elements-grid__text:not(:last-child) {
   margin: 0px 0px 10px 0px;
}

.title {
   font-size: 25px;
   font-weight: 700;
}
.subtitle {
   font-size: 20px;
   font-weight: 700;
}
.text {
   text-align: justify;
   line-height: 1.25;
   text-indent: 20px;
}
.text span {
   font-weight: 700;
   background-color: #fff;
   border-radius: 5px;
   padding: 0px 5px;
   white-space: nowrap;
}


@media (max-width: 465px){
   .grid-content__history:not(:last-child),
   .grid-content__block-container:not(:last-child),
   .grid-content__explicit-grid:not(:last-child),
   .grid-content__implicit-grid:not(:last-child),
   .grid-content__grid-alignment:not(:last-child),
   .grid-content__content-alignment:not(:last-child),
   .grid-content__tamplate-areas:not(:last-child),
   .grid-content__elements:not(:last-child) {
      margin: 0px 0px 20px 0px;
   }
   .history__title,
   .layout__title,
   .container-block__title,
   .elements-grid__title {
      margin: 0px 0px 15px 0px;
   }
   .grid-explicit__layout:not(:last-child),
   .container-block__layout:not(:last-child),
   .grid-implicit__layout:not(:last-child),
   .alignment-grid__layout:not(:last-child),
   .alignment-content__layout:not(:last-child),
   .areas-tamplate__layout:not(:last-child),
   .elements-grid__layout:not(:last-child) {
      margin: 0px 0px 15px 0px;
   }
   .subtitle {
      font-size: 18px;
      font-weight: 700;
   }
   .title {
      font-size: 20px;
   }
   .text {
      text-align: justify;
      line-height: 1.4;
      text-indent: 10px;
   }
}

/*============ layout =====================*/

.layout {
   display: grid;
   background-color: #fff;
   gap: 5px;
   padding: 10px;
}
.layout__item {
   font-size: 18px;
   border: 2px solid #000;
   background-color: aqua;
   padding: 5px;
}


@media (max-width: 465px){
   .layout__item {
      font-size: 14px;
   }
}

/*==================== figma ===========================*/

/*====== задний фон ======*/

.background {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}

.background__item {
   position: absolute;
}

/*====== оранжевая кнопка =====*/

.button {
   display: inline-block;
   font-weight: 700;
   line-height: 1.25;
   text-align: center;
   letter-spacing: 0.5px;
   color: #FFFFFF;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
   padding: 16px 40px;
   position: relative;
}

.button span {
   position: relative;
   z-index: 2;
}

.button::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(55.95deg, #e7352f 0%, #e25604 100%);
   border-radius: 4px;
   opacity: 0;
   transition: all 0.3s ease 0s;
}

.button:hover::before {
   opacity: 1;
}

/*====== прозрачная кнопка ======*/

.button--border {
   color: #FF3F3A;
   background: transparent;
   border: 1px solid #FF3F3A;
   border-radius: 4px;
   padding: 15px 40px;
   transition: all 0.3s ease 0s;
}

.button--border:hover {
   color: #fff;
   border: 1px solid #FF3F3A;
   background-color: #FF3F3A;
}