@import "reset.css";

/*=========================== general ====================================*/

body {
   font-family: 'Lato', sans-serif;
   /* font-size: 16px; */
}

.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   min-height: 100%;
}
.wrapper main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1260px;
   padding: 0px 15px;
   margin: 0 auto;
}
/*====================== header =======================*/

.header {
   padding: 20px 0;
   background-color: #386b95;
}
.header__container {
   display: grid;
   grid-template-columns: 130px 1fr 386px;
   align-items: center;
   column-gap: 60px;
}
.header__logo {
   width: 100%;
}
.header__action {
   display: grid;
   grid-template-columns: repeat(2, auto);
   align-items: center;
   column-gap: 36px;
}

.menu__list {
   display: grid;
   grid-template-columns: repeat(5, auto);
   justify-content: start;
   justify-items: start;
   font-weight: 700;
   line-height: 1.25;
   color: #424551;
   gap: 10px 40px;
   grid-auto-rows: 1fr;
}

.action__register {
   font-weight: 700;
   line-height: 1.6;
   color: #424551;
   background: url('../img/figma/header/icon.svg') left no-repeat;
   padding: 0px 0px 0px 24px;
}
/*============= media ===========*/

@media (max-width: 1095px){
   .header__container {
      grid-template-columns: 130px minmax(350px, 1fr) minmax(187px, 386px);
      column-gap: 30px;
   }
   .menu__list {
      gap: 10px 20px;
   }
   .header__action {
      grid-template-columns: repeat(2, auto);
      column-gap: 20px;
   }
}

@media (max-width: 991.98px){
   .header__action {
      grid-template-columns: none;
      justify-content: end;
      justify-items: center;
      row-gap: 10px;
   }
   .button {
      text-align: center;
      padding: 16px 30px;
   }
}
/* @media (max-width: 767.98px){
   .header__container {
      grid-template-columns: 130px minmax(230px, 1fr) minmax(187px, 386px);
      column-gap: 30px;
   }
   .menu__list {
      grid-template-columns: repeat(3, auto);
   }
} */
@media (max-width: 767.98px){
   body {
      font-size: 18px;
   }
   .header__container {
      grid-template-columns: none;
      row-gap: 15px;
   }
   .menu__list {
      grid-template-columns: repeat(5, auto);
      justify-content: space-between;
   }
   .header__action {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: stretch;
      column-gap: 10px;
   }
   .button {
      text-align: center;
      padding: 16px 20px;
   }
   .action__register {
      justify-self: center;
   }
}
@media (max-width: 420px){
   .header__container {
      justify-items: stretch;
   }
   .menu__list {
      grid-template-columns: repeat(3, 1fr);
   }
   .header__action {
      grid-template-columns: minmax(290px,400px);
      justify-content: start;
      justify-items: stretch;
   }
}
@media (max-width: 380px){
   body {
         font-size: 18px;
      }
}