@import "reset.css";

/*======================== fonts ======================*/

@font-face {
   font-family: "Calibri";
   src: url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Calibri";
   src: url("../fonts/Calibri Italic.woff2") format("woff2"), url("../fonts/Calibri Italic.woff") format("woff");
   font-weight: 400;
   font-style: italic;
   font-display: swap;
}
@font-face {
   font-family: "Calibri";
   src: url("../fonts/Calibri Bold.woff2") format("woff2"), url("../fonts/Calibri Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
/*=========================== general ====================================*/

body {
   font-family: 'Calibri', sans-serif;
}

.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   position: relative;
   min-height: 100%;
}
.wrapper main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1260px;
   padding: 0px 15px;
   margin: 0 auto;
}

@media (max-width: 465px){
   body {
      font-size: 14px;
   }
}

